
@font-face {
  font-family: "Chillax";
  src: url('../fonts/Chillax-Regular.woff2') format('woff2');
  src: url('../fonts/Chillax-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plein-Black";
  src: url('../fonts/Plein-Black.woff2') format('woff2');
  src: url('../fonts/Plein-Black.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Chillax-Regular";
  max-width: 375px;
  margin: auto;
  position: relative;
}
header {
  background: #915f43;
  padding: 30px;
  padding-top: 0;
}

.links {
  text-align: right;
  font-family: "Chillax";
  padding-top: 15px;
}

.links a {
  color: white;
  text-decoration: none;
}

h2 {
  font-family: "Plein-Black";
  text-align: center;
  padding-top: 25px;
}

.text-semences-de-pays {
  font-family: "Chillax";
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  
}

.container-1 img {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 200px;

}

.nos-semences {
  background-color: #915f43;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.title-white {
  color: white;
}

.photography-1 img {
  max-width: 200px;
  margin-top: 30px;
}

.nos-semences img {
  align-items: center;
  width: 150px;
  margin-left: 80px;
  padding-top: 70px;
} 

.font-chillax {
  font-family: "Chillax";
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 100px;
}
.photography-2 img {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 35px;
  padding-right: 20px;
}

.photography-2 img .container {
  display: flex;
  flex-direction: row;
}

.photography-3 img {
  align-items: center;
  width: 60px;
  margin-left: 130px;
  padding-top: 15px;
  padding-left: 30px;
}

.photography-carte {
  width: 200px;
  padding-left: 55px;
  padding-top: 30px;
  margin-left: 35px;
}

.addresse-1 {
  color: #bb957b;
  font-family: "Chillax";
  text-align: center;
  margin-top: 50px;
}

.addresse-2 {
  color: #9c7d67;
  font-family: "Chillax";
  text-align: center;
  margin-top: 30px;
}

.addresse-3 {
  color: #835b3f;
  font-family: "Chillax";
  text-align: center;
  margin-top: 30px;
}

.addresse-4 {
  color: #593b29;
  font-family: "Chillax";
  text-align: center;
  margin-top: 30px;
}

.addresse-5 {
  color: #000000;
  font-family: "Chillax";
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.title-footer {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: #915f43;
  padding-bottom: 50px;
}

footer p {
  text-align: center;
  font-family: "Chillax";
  color:#000000;
}

.text-1 {
  margin-top: 20px;
}

.text-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.link-website a {
  color: white;
  text-decoration: none;
}

.image-size {
  width: 80px;
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photography-4 img {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.photography-4 img .container {
  display: flex;
  flex-direction: row;
}

.scroll-left {
  left:0px;
  animation-name: scroll-left;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  line-height: 50px;
  }

  @keyframes scroll-left{
  
  from {transform: translateX(375px);}
  
  to {transform: translateX(-375px); }
  
  }

.slider-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
  flex-direction: column;
  padding-left: 30px;
  margin: 20px;
}
  
.container {
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.slider-container img{
  width: 170px;
  padding-right: 40px;
}

.text {
  font-size: 5px;
  text-align: center;
  color: black;
  font-family: "Chillax";
}

.symbol-next img{
  width: 15px;
  padding-left: 110px;
}

